.carousel-inner{
    margin-top: 100px;
    width:100%;
    height: 400px;
}
.col-md-4{
    height: 100px;
    width: 100px;
    border: 2px black solid;
}
/* #mid{
    border:2px solid black;
} */
.col-md-5{
 background-image: url(../Images/Campus.jpg);
 background-size: cover;
 margin-left: 25px;
 margin-top: 25px;
 border-radius: 10px;
}
.col-md-6{
    padding: 30px;
    margin-left: 20px;
}