.navbar{
  margin-top: 25px;
  position:fixed;
  z-index: 1;
  width: 100%;
}
.nav-link{
    border: 1px solid green;
    border-radius: 5px;
    color: white;
   margin-right: 50px;
   margin-left: 10px;
  
   
}
