#PPP{


display: inline-block;
margin-left: 200px;
font-size: 20px;
}

#kkk{

border-radius: 8px;

}

.explrcrs{
    background-color:antiquewhite;
}
/* #igsz{
    height: 250px;
width: 400px;
border-radius: 20px;


} */
 #imgsz{
border-radius: 10px;
  /* margin-left: px; */
display: inline;
margin-left: 90px;
 }

